@model GestionColegioMVC.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Rexistrarse";
}
<h2>@ViewBag.Title.</h2>
<h3>Asocia a tua conta @ViewBag.LoginProvider .</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Autenticacheste con exito <strong>@ViewBag.LoginProvider</strong>.
        Por favor entra un nome de usuario para este sitio e fai click no boton de Rexistro de abaixo para finalizar e entrar.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
