@model IEnumerable<GestionColegioMVC.Models.Profe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de profesores/as</h2>

<p>
    @Html.ActionLink("Rexistrar novo/a profesor/a", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IdProfe }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.IdProfe }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.IdProfe })
        </td>
    </tr>
}

</table>
