<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Xestion de Instituto</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui") <!--Agrega alguns estilos de jqueryui, que se referencian no arquivo BundleConfig.cs-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    <!--Os scripts millor arriba porque despois podemos atopar problemas de referencias que faltan nos scripts de jquery que se cargan mais tarde de renderizar a paxina e deberian cargarse antes-->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema de Xestion de Instituto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre nos", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contacto", "Home")</li>
                    <li>@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                    <li>@Html.ActionLink("Estudiantes", "Index", "Estudiantes")</li>
                    <li>@Html.ActionLink("Profesorado", "Index", "Profes")</li>
                    <li>@Html.ActionLink("Matriculate", "Index", "Matriculas")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Xestor de Instituto</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
