@model IEnumerable<GestionColegioMVC.Models.Estudiante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Novo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaMatriculacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMatriculacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.IdEstudiante }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.IdEstudiante }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdEstudiante })
            </td>
        </tr>
    }

</table>
